NEXT_PUBLIC_CONVEX_URL=

NEXT_PUBLIC_CONVEX_SITE_URL=
BETTER_AUTH_SECRET=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
BETTER_AUTH_URL=http://localhost:3000

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
TELEGRAM_CLIENT_ID=
TELEGRAM_CLIENT_SECRET=
